body {
  background-image: url('./images/BG2.jpg');
  /* background-image: url('https://images.unsplash.com/photo-1450849608880-6f787542c88a?ixlib=rb-1.2.1&auto=format&fit=crop&w=966&q=80');  */
  background-color: #000;
  background-repeat: repeat-y;
  background-position: top;
  height: 100vh;
  background-size: cover;
  color: #333 !important;
  max-width: 100%;
  margin-top: 5rem;
  font-weight: 100;
}
/* 
.img-background {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.8;
} */

h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-weight: 400;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  background-color: #66fcf1;
  font-weight: 500 !important; 
}

.content-section {
  background: #ffffff;
  /* opacity: 0.85; */
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #333;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.navbar {
  background-color: #0b0c10;
}

.about h1{
  color:#050000 ;
}

.media p{
  padding-left: 1rem;
  padding-right: 1rem;
}
